

{% extends 'main.html' %}

{% block content %}



<div class="main">
    <div class="inner_main">
        
        <form class="main_form" method="POST">
            {% csrf_token %}
    
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
    
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password" required/>

            <label>Confirm Password:</label>
            <input type="password" name="confirm_password" placeholder="Confirm password" required/>
    
            <button class="submit_login" type="submit">Submit</button>
    
        </form>
    </div>
</div>
    

    




{% endblock %}