{% extends 'main.html' %}

{% block content %}

<div class="main">
    <div class="inner_main">
        <h1>this is login</h1>
        
        <form class="main_form" method="POST">
            {% csrf_token %}
    
            <label> namw:</label>
            <input type="text" name="name" placeholder="name"/>
    
            <label> email:</label>
            <input type="text" name="email" placeholder="email"/>

            <label for="designation">Select :</label>
            <select name="designation" id="designation">
            <option value="student">student</option>
            <option value="teacher">teacher</option>
            </select>
    
            <button class="submit_login" type="submit">Submit</button>
            <p>if not registered click below</p>
            <a href="{% url 'login' %}">login</a>
    
        </form>
    </div>
</div>
    

    

{% endblock %}



















